* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  width: 100vw;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.container{
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%; */
}

h2, label, p {
  color: white;
}

input {
  height: 4vh;
  width: 40vw;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}



.row {
  width: 80vw;
  height: 8vh;
  background-image: linear-gradient(to right top, #adc5cf, #94b9c8, #79adc2, #5ba2bb, #3596b5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-bottom: 8px;
}



.x{
  flex-direction: column;
  height: 50vh;
  align-items: flex-start;
  padding-left: 8px;
}

.btn {
  color: white;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 8px 16px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(.96);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 90%;
  /* background-color: rgb(217, 186, 133); */
  border-radius: 4px;
  border: 1px solid lightgrey;
  flex-direction: column;
}
